<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <% if (isAdmin) { %>
            <p>Bang dieu khien: <%= name %></p>
        <% } else { %>
            <p>Ban khong phai admin</p>
        <% } %>
    </body>
</html>