<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <% arrPhim.forEach(e => { %>
            <p><%= e.name %></p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= e.idYoutube %>" frameborder="0" allowfullscreen></iframe>
            <br>
        <% }) %>
    </body>
</html>